* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: 'Arial', sans-serif;
  color: #fff;
  overflow: hidden;
  font-size: 200%;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/cockpit.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-8%) translateY(-155%);
}

.relogio {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.info-data {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #aaa;
}

.tempo {
  transition: color 0.5s;
}

.separador {
  opacity: 1;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
